
.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  padding: 0 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col {
  padding: 0 15px;
}

.col--100 {
  flex-basis: 100%;
}

.col--40 {
  flex-basis: 40%;
}

.col--20 {
  flex-basis: 20%;
}

.mb-30 {
  margin-bottom: 30px;
}