.card {
  margin: 0 0 50px 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;


  &__overflow-hidden {
    box-shadow: 0px 0px 13px 0px rgba(106, 106, 106, 0.74);
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 0 00px 0;
    flex-basis: 93%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: $red;

    &__title {
      color: $yellow;
      margin: 0 0 0 125px;
      font-style: italic;
    }

    &__valor {
      color: #fff;
      font-weight: bold;
      font-style: italic;
      padding-right: 20px;
    }
  }

  &__container {
    min-height: 120px;
    padding: 20px 0 20px 125px;
    color: $red-dark;
  }

  &__image {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 50%;
    width: 180px;
    height: 180px;
    transform: translate(0,-50%);
    border-radius: 20px;
    overflow: hidden;
    img {
      max-height: 180px;
      height: auto;
    }

  }

}
