@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i&display=swap');

h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 26px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}