.form {
  margin: 0 0 100px 0;
  position: relative;
  z-index: 1;

  &__overflow-hidden {
    box-shadow: 0px 0px 13px 0px rgba(106, 106, 106, 0.74);
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 0 40px 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: $yellow;
    padding-bottom: 18px;

    &__title {
      color: $red-dark;
      margin: 0 0 0 60px;
      font-style: italic;
    }


  }

  &__container {
    margin: -18px 0 0 0;
  }

  &__pastel-parallax {
    background: url(/img/pastel-paralax.5af73e8b.png);
    background-size: cover;
    position: absolute;
    z-index: 9;
    width: 560px;
    height: 500px;
    left: -290px;
    top: -350px;
    pointer-events: none;
  }

}
