.header {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 1;
  }
  &__logo {
    display: flex;
    justify-content: center;
  }
  &__pastel {
    background: url("../assets/images/pasteis-img.png") no-repeat;
    background-size: cover;
    width: 280px;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: -50%;
    z-index: 1;
  }

}
