<template>

  <button class="btn"
          :class="`btn--${color}`"
          @click="$emit('click', $event)"
  >
      {{text}}
  </button>

</template>

<script>
export default {
  name: 'InputText',
  props: {
    text: String,
    color:{
        type: String,
        validator(value) {
            return ['red', 'yellow'].indexOf(value) !== -1;
        }
    }
  }
}
</script>

<style scoped lang="scss">
     @import "../styles/variables";
    .btn {
        background: #ccc;
        border-radius: 30px;
        height: 55px;
        min-width: 200px;
        display: flex;
        vertical-align: center;
        justify-content: center;
        border: 0;
        transition: background-color .3s ease;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        &--red {
            background-color: $red;
            &:hover {
                background-color: darken($red, 10%);
            }
        }
        &--yellow {
            background-color: $yellow;
            color: $red-dark;
            &:hover {
                background-color: lighten($yellow, 10%);
            }
        }
    }
</style>
