<template>

  <div class="input-textarea">

      <textarea class="input-textarea__textarea"
                type="text"
                :id="id"
                :name="name"
                :placeholder="placeholder"
                v-model="valueData"
      ></textarea>

  </div>

</template>

<script>
export default {
    name: 'InputTextarea',
    data() {
        return {
            firstChange: true,
            valueData: (this.value) ? this.value.value : '',

        }
    },
    props: {
        id: String,
        name: String,
        placeholder: String,
        value: Object,
    },
    watch: {
        value() {
            this.valueData = this.value.value
        },
        valueData() {
            this.$emit('change', {value: this.valueData, isValid: this.isValid});
        }
    }
}
</script>

<style scoped lang="scss">
    @import "../styles/variables";
    .input-textarea {
        &__textarea {
            width: 100%;
            height: 90px;
            border: 1px solid $red;
            color: $red-dark;
            border-radius: 8px;
            padding: 5px 15px;
            &::placeholder {
                color: $red-dark;
            }
            &:focus {
                outline-color:  rgb(113, 84, 91);
            }
        }
    }
</style>
