<template>
    <div class="input-file"
         :class="statusClass">
        <input
                :type="'file'"
                :name="name"
                :id="id"
                @change="changeFile($event)"
                style="display: none">

        <label class="input-file__fake"
               :for="id"
        >
            <span class="d-flex h-100 justify-content-center
                      align-items-center">

                <span>

                    <i class="input-file__fake__icon mdi mdi-cloud-upload"></i>


                    <div class="input-file__file-name">
                        <template v-if="files.length > 0">
                            <strong v-for="file in files"
                                    :key="file.size"
                            >
                                {{ file.nameTruncate }}
                            </strong>
                        </template>
                        <strong v-else>
                            Clique para selecionar o arquivo e fazer o upload
                        </strong>
                    </div>


                    <span class="input-file__text d-block pt-2">

                        <template v-if="validation">

                            <div v-if="validation.extensions">
                                Formatos permitidos:
                                <span v-for="(item, i) in validation.extensions"
                                      :key="i"
                                      class="input-file__text__extensions"
                                >
                                    {{ item }}
                                    <template v-if="i < validation.extensions.length - 1">
                                        ,
                                    </template>
                                </span>
                            </div>

                            <div v-if="validation.extensions">
                                Tamanho máximo:
                                <span class="input-file__text__size">
                                    {{ validation.size }}Mb
                                </span>
                            </div>

                        </template>

                    </span>

                </span>

            </span>
        </label>

        <div v-if="errorMsg"
             class="helper-text">
            {{ errorMsg }}
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                files: [],
                valid: true,
                validExtensions: false,
                validSize: false,
            };
        },
        props: {
            name: String,
            id: String,
            label: String,
            value: String,
            validation: Object,
        },
        methods: {
            changeFile(value) {
                this.$emit('change', {
                    value: (value.target.files.length) ? URL.createObjectURL(value.target.files[0]) : null,
                    isValid: this.valid
                } );
                // limpar
                this.files = [];

                // criar um array de objetos(files)
                Object.keys(value.target.files).forEach((key) => {

                    const fileName = value.target.files[key].name;
                    const fileExtension = fileName.split('.')[fileName.split('.').length - 1];
                    const fileSize = value.target.files[key].size;
                    const fileNameTruncate = () => {
                        if (fileName.length >= 25) {
                            const aa = fileName.split('.')[fileName.split('.').length - 2].slice(-5);
                            return `${fileName.substring(0, 15)}...${aa.substring(0, 5)}.${fileExtension}`;
                        }
                        return fileName;
                    };

                    this.files.push({
                        name: fileName,
                        nameTruncate: fileNameTruncate(),
                        extension: fileExtension,
                        size: fileSize,
                        validSize: this.validateFileSize(fileSize),
                        validExtensions: this.validateFileExtensions(fileExtension),
                    });
                });

                // valida apenas se tiver prop validation
                if (this.validation) {
                    // validando
                    this.validExtensions = (this.validation.extensions) ? this.validateForeach(this.files, 'extensions') : false;
                    this.validSize = (this.validation.size) ? this.validateForeach(this.files, 'size') : false;

                    // valid
                    if (this.validSize === false || this.validExtensions === false) {
                        this.valid = false;
                    } else {
                        this.valid = true;
                    }

                }

            },
            validateFileSize(fileSize) {
                if (this.validation && this.validation.size) {
                    // mb to kb
                    return fileSize <= this.validation.size * 1000000;
                }
                return false;
            },
            validateFileExtensions(fileExtension) {
                if (this.validation && this.validation.extensions) {
                    return this.validation.extensions.indexOf(fileExtension) !== -1;
                }
                return false;
            },
            validateForeach(f, type) {
                const validKey = (type === 'extensions') ? 'validExtensions' : 'validSize';

                const temp = [];

                f.forEach((val, i) => {

                    if (!val[validKey]) {
                        temp.push(false);
                        return false;
                    }
                    // se a ultima for valida
                    if (i === this.files.length - 1 && val[validKey]) {
                        temp.push(true);
                    }
                    return false;
                });

                return (temp.indexOf(false) === -1);

            },
        },
        computed: {
            statusClass() {
                return (this.valid) ? 'input-file--success' : 'input-file--error';
            },
            errorMsg() {
                // mensagens
                if (!this.valid) {
                    let msg = '';
                    let first = true;
                    const virgula = () => {
                        if (!first) {
                            msg += ', ';
                        } else {
                            first = false;
                        }
                    };

                    if (this.validSize === false) {
                        virgula();
                        msg += `tamanho do arquivo ultrapassou o limite de ${this.validation.size}Mb`;
                    }
                    if (this.validExtensions === false) {
                        virgula();
                        msg += 'formato não permitido';
                    }
                    return msg;

                }

                return false;

            },

        },

    };

</script>

<style scoped lang="scss">
    @import "../styles/variables";
    .input-file {
        $input: &;

        &__fake {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            border: 1px solid $red;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                border-color: $red-dark;
                background-color: #f5f5f5;
                #{$input}__text {
                    &__extensions,
                    &__size {
                        text-shadow: 0 0 0.01px black;
                    }
                }
            }

            #{$input}--error & {
                border-color: $red;
            }

            &__child {
                display: block;
            }

            &__icon {
                font-size: 60px;
                color: $red;
            }
        }

        &__text {
            &__extensions, &__size {
                transition: all .3s ease;
            }
        }

        &__file-name {
            #{$input}--error & strong {
                color: $red ;
            }
        }





    }

</style>