<template>

  <div class="input-text">

      <input class="input-text__input"
             :type="type"
             :id="id"
             :name="name"
             :placeholder="placeholder"
             v-model="valueData"
      >

      <div v-if="helperText"
           class="helper-text"
      >
          {{ helperText }}
      </div>

  </div>

</template>

<script>
export default {
    name: 'InputText',
    data() {
        return {
            firstChange: true,
            isValid: false,
            helperText: '',
            valueData: (this.value) ? this.value.value : '',
        }
    },
    props: {
        id: String,
        name: String,
        type: {
            default: 'text',
        },
        placeholder: String,
        validation: Object,
        value: Object,
    },
    computed: {

    },
    watch: {
        value() {
          this.valueData = this.value.value
        },
        valueData() {

            if (!this.firstChange) {
                if (this.valueData.length === 0) {
                    this.isValid = false;
                    this.helperText = 'campo obrigatorio';
                } else if (this.validation.min && this.valueData.length < 3) {
                    this.isValid = false;
                    this.helperText = 'menor que 3';
                } else if (this.validation.max && this.valueData.length > 60) {
                    this.isValid = false;
                    this.helperText = 'maior que 60';
                } else {
                    this.helperText = null;
                    this.isValid = true;
                }

            }

            this.$emit('change', {value: this.valueData, isValid: this.isValid});

            this.firstChange = false;
        }
    }
}
</script>

<style scoped lang="scss">
     @import "../styles/variables";
    .input-text {
        &__input {
            width: 100%;
            border: 1px solid $red;
            color: $red-dark;
            border-radius: 8px;
            padding: 0 15px;
            height: 40px;
            &::placeholder {
                color: $red-dark;
            }
            &:focus {
                outline-color:  rgb(113, 84, 91);
            }
        }
    }
</style>
