<template>
    <div class="switch row"
         :class="switchClass"
         @click="switche()"
    >
        <span class="swtich__text">
            Comida
        </span>
        <div class="switch__el">

        </div>
        <span class="swtich__text">
            Bebida
       </span>
    </div>
</template>

<script>
export default {
    name: 'InputText',
    data() {
        return {
            status: false,

        }
    },
    created(){
        this.$emit('change',  this.val);
    },
    methods: {
        switche(){
            this.status = !this.status;
            this.$emit('change', this.val);
        },
    },
    computed: {
        val() {
            return (this.status) ? 'bebida' : 'comida';
        },
        switchClass() {
            return (this.status) ? 'switch--on' : 'switch--off';
        },
    },
}
</script>

<style scoped lang="scss">
     @import "../styles/variables";
    .switch {
        cursor: pointer;
        align-items: center;
        color: $red-dark;
        margin-right: 20px;
        $switch: &;
        &__el {
            width: 40px;
            height: 12px;
            background-color: #fff;
            border-radius: 10px;
            position: relative;
            z-index: 1;
            margin: 0 20px;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: -5px;
                top: -4px;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                transition: all .3s ease;
            }
        }
        &--on {
            #{$switch}__el {
                &:after {
                    left: calc(100% - 10px);
                }
            }
        }
    }
</style>
