<template>
    <div id="app">

        <header class="header">
            <div class="container">
                <div class="header__logo">
                    <img src="./assets/images/Logo.svg" alt="Logo Pasteis de ideias">
                </div>
                <div class="header__pastel"></div>
            </div>
        </header>

        <main>

            <div class="container">

                <section class="form">
                    <div class="form__pastel-parallax" ref="pastelparallax"></div>
                    <div class="form__overflow-hidden">
                        <header class="form__header">
                            <h1 class="form__header__title h2">
                                <strong>Monte aqui o seu cardapio. O que esta esperando?</strong>
                            </h1>
                            <div>
                              <switcha @change="changeTipoPedido"></switcha>
                            </div>
                        </header>

                        <div class="form__container">

                            <div class="row flex-wrap">
                                <div class="col col--40 mb-30">
                                    <input-text id="titulo-pedido"
                                                placeholder="Titulo do pedido"
                                                name="titulo_pedido"
                                                :value="tituloPedido"
                                                :validation="{min: 3, max: 60}"
                                                @change="changeTituloPedido"
                                    ></input-text>
                                </div>
                                <div class="col col--40 mb-30">
                                    <input-text id="sabor-pedido"
                                                placeholder="Sabor"
                                                name="sabor_pedido"
                                                :value="saborPedido"
                                                :validation="{min: 3, max: 60}"
                                                @change="changeSaborPedido"
                                    ></input-text>
                                </div>
                                <div class="col col--20 mb-30">
                                    <input-text type="number"
                                                id="valor-pedido"
                                                placeholder="Valor do pedido"
                                                name="valor_pedido"
                                                :value="valorPedido"
                                                :validation="{min: 0, max: 20}"
                                                @change="changeValorPedido"
                                    ></input-text>
                                </div>

                                <div class="col col--100 mb-30">
                                    <input-textarea id="descricao-pedido"
                                                    placeholder="Descricao"
                                                    name="descricao_pedido"
                                                    :value="descricaoPedido"
                                                    @change="changeDescricaoPedido"

                                    ></input-textarea>
                                </div>

                                <div class="col col--100 mb-30">
                                    <input-file :id="'input-file-2'"
                                                :name="'input-file-2'"
                                                :label="'input-file-label-2'"
                                                :validation="{
                                                    size: 2,
                                                    extensions: ['jpg', 'png'],
                                                }"
                                                @change="changeImagemPedido"
                                    ></input-file>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="btns">
                        <div class="row">
                            <div class="col">
                                <btn text="Limpar"
                                     color="red"
                                     @click="cleanForm"
                                ></btn>
                            </div>
                            <div class="col">
                                <btn text="Cadastrar"
                                     color="yellow"
                                     @click="saveForm"
                                ></btn>
                            </div>
                        </div>
                    </div>

                </section>


            </div>

            <div class="divisor">
                <div class="divisor__text h3">
                    <strong>
                        Veja como sera apresentado ao cliente
                    </strong>
                </div>
            </div>

            <div class="container">
                <div v-for="(pedido,i) in pedidos"
                     :key="i"
                     class="card d-flex"
                >
                    <div class="card__image">
                        <img :src="pedido.imagemPedido.value"
                             :alt="pedido.tituloPedido.value"
                        >
                    </div>
                    <div class="card__overflow-hidden">
                        <header class="card__header">
                            <h1 class="card__header__title h2">
                                <strong>" {{ pedido.tituloPedido.value }} "</strong>
                            </h1>
                            <div class="card__header__valor h3">
                                R$ {{ pedido.valorPedido.value }}
                            </div>
                        </header>

                        <div class="card__container">

                            <p class="h4">
                                <strong>Sabor:</strong>
                                {{ pedido.saborPedido.value }}
                            </p>
                            <p class="h4">
                                <strong>Descricao:</strong>
                                {{ pedido.descricaoPedido.value }}
                            </p>

                        </div>
                    </div>

                </div>


            </div>

        </main>


    </div>
</template>

<script>
    import InputText from './components/InputText.vue'
    import InputTextarea from './components/InputTextarea.vue'
    import InputFile from './components/InputFile.vue'
    import Btn from './components/Btn.vue'
    import Switcha from './components/Switch.vue'

    export default {
        name: 'app',
        components: {
            InputTextarea,
            InputText,
            InputFile,
            Btn,
            Switcha,
        },
        data() {
            return {
                tituloPedido: {
                    value: '',
                    isValid: false,
                },
                saborPedido: {
                    value: '',
                    isValid: false,
                },
                valorPedido: {
                    value: '',
                    isValid: false,
                },
                descricaoPedido: {
                    value: '',
                    isValid: false,
                },
                imagemPedido: {
                    value: '',
                    isValid: false,
                },
                tipoPedido: '',
                pedidos: []
            }
        },
        created() {
            window.addEventListener('scroll', () => {

                if (window.scrollY <= 420) {

                    let topParallax = (window.scrollY * -0.3)-350;
                    this.$refs.pastelparallax.style.top = `${topParallax}px`;

                }

            });
        },
        methods: {
            cleanForm() {
                this.tituloPedido = {
                    value: '',
                    isValid: false,
                };
                this.saborPedido = {
                    value: '',
                    isValid: false,
                };
                this.valorPedido = {
                    value: '',
                    isValid: false,
                };
                this.descricaoPedido = {
                    value: '',
                    isValid: false,
                };
                this.imagemPedido = {
                    value: '',
                    isValid: false,
                };

            },
            saveForm() {

                if (this.tituloPedido.isValid
                    && this.saborPedido.isValid
                    && this.valorPedido.isValid
                ) {

                    if (!this.imagemPedido.value) {
                        this.imagemPedido.value = 'https://via.placeholder.com/180x180?text=eu-amo-pastel';
                    }

                    this.pedidos.unshift({
                        tituloPedido: this.tituloPedido,
                        saborPedido: this.saborPedido,
                        valorPedido: this.valorPedido,
                        descricaoPedido: this.descricaoPedido,
                        imagemPedido:  this.imagemPedido ,
                    });
                    this.cleanForm();
                }

            },
            changeTituloPedido(val) {
                this.tituloPedido.value = val.value;
                this.tituloPedido.isValid = val.isValid;
            },
            changeSaborPedido(val) {
                this.saborPedido.value = val.value;
                this.saborPedido.isValid = val.isValid;
            },
            changeValorPedido(val) {
                this.valorPedido.value = val.value;
                this.valorPedido.isValid = val.isValid;
            },
            changeDescricaoPedido(val) {
                this.descricaoPedido.value = val.value;
                this.descricaoPedido.isValid = val.isValid;
            },
            changeImagemPedido(val) {
                this.imagemPedido.value = val.value;
                this.imagemPedido.isValid = val.isValid;
            },
            changeTipoPedido(val) {
                this.tipoPedido = val.value;
            },
        }
    }
</script>

<style lang="scss">
    @import "./styles/variables";
    #app {
        background:
                url("./assets/images/wave.svg") no-repeat center top,
                url("./assets/images/pattern-1.png") repeat;
        font-family: 'Rooto', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        overflow: hidden;
    }

    .btns {
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translate(-50%,0);
    }

    .divisor {
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 70px;
        &__text {
            color: $red-dark;
            position: relative;
            z-index: 1;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                width: 1000px;
                height: 1px;
                background-color: $red;
            }
            &:before {
                left: calc( -1000px - 30px );
            }
            &:after {
                right: calc( -1000px - 30px );
            }
        }
    }


</style>
